#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}
